@font-face {
    src: url(assets/fonts/MarkaziText-VariableFont_wght.ttf);
    font-family: customArabic;
    font-size: 50px;
    font-weight: 500;
}

@font-face {
    src: url(assets/fonts/Cairo-Regular.ttf);
    font-family: Cairo-Regular;
}

@font-face {
    src: url(assets/fonts/Cairo-SemiBold.ttf);
    font-family: Cairo-semibold;
}

@font-face {
    src: url(assets/fonts/Cairo-Bold.ttf);
    font-family: Cairo-bold;
}

p {
    font-size: 1.2rem;
}

.container {
    /*position: fixed;*/
    background-color: #F1E2DD;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.flex-container{
    display: flex;
    align-items: center;
    min-height: 100%;
}

.photo-container{
    /*background-color:white;
    display: inline-block;
    width: 40%;*/
    flex: 1;
    order: 1;
}

.photo-container img {
    max-width: 100%
}

.text-container {
    /*background-color:black;*/
    flex: 1;
    order: 2;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container h1 {
    color: #813D36;
    font-family: customArabic;
    font-size: 2.3rem;    
}

.button {
    background-color: #2C8F30;
    border: none;
    color: white;
    padding: 15px 35px;
    font-size: 22px;
    font-weight: 700;
    font-family: customArabic;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: #1C7F20; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 767px){
    .flex-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .photo-container{
        /*background-color:white;
        display: inline-block;
        width: 40%;*/
        flex: 1;
        order: 1;
    }
    .text-container {
        flex: 1;
        order: 1;  
    }

    h1 {
        /*position: absolute;
        margin-left: 60px;
        margin-top: 280px;*/
        font-size: 20px;
    }

    .button {
        /*position: absolute;
        margin: 370px 0 0 110px;*/
        padding: 12px 20px;
    }
}

