.container {
    position: fixed;
    background-color: #F1E2DD;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.mainphoto img {
    max-width: 50%;
    width: 700px;
    margin: 30px 0 0 750px;
}

h1 {
    position: absolute;
    color: #813D36;
    margin-left: 180px;
    margin-top: 110px;
}

.button {
    position: absolute;
    margin: 290px 0 0 310px;
    background-color: #2C8F30;
    border: none;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: #1C7F20; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 414px){
    .mainphoto img {
        width: 414px;
        max-width: 100%;
        margin: 0;
    }

    h1 {
        position: absolute;
        color: #813D36;
        margin-left: 60px;
        margin-top: 280px;
        font-size: 20px;
    }

    .button {
        position: absolute;
        margin: 370px 0 0 110px;
        padding: 12px 20px;
    }
}

